tsconfig.tsbuildinfo
coverage
node_modules
dist/
.env
build
dist
cloudformation.yml
ddd.js
yarn.lock
lerna-debug.log
*.lerna_backup
_book
.idea/
.DS_STORE
.serverless/
.serverless-offline
serverless*.yml
!serverless.example.yml
!serverless.yml
tsconfig.tsbuildinfo
docs/
