service: stac-server

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-west-2'}
  environment:
    STAC_ID: "stac-server"
    STAC_TITLE: "STAC API"
    STAC_DESCRIPTION: "A STAC API using stac-server"
    STAC_VERSION: 1.0.0-beta.2
    STAC_API_VERSION: 0.9.0
    LOG_LEVEL: DEBUG
    ES_BATCH_SIZE: 500
    STAC_DOCS_URL: https://stac-utils.github.io/stac-server/
    ES_HOST:
      Fn::GetAtt: [ElasticSearchInstance, DomainEndpoint]
    ENABLE_TRANSACTIONS_EXTENSION: false
  iamRoleStatements:
    - Effect: "Allow"
      Resource: "arn:aws:es:#{AWS::Region}:#{AWS::AccountId}:domain/*"
      Action: "es:*"
    - Effect: "Allow"
      Action:
        - sqs:GetQueueUrl
        - sqs:SendMessage
        - sqs:ReceiveMessage
        - sqs:DeleteMessage
      Resource:
        Fn::GetAtt: [ingestQueue, Arn]

package:
  individually: true

functions:
  api:
    description: stac-server API Lambda
    handler: index.handler
    package:
      artifact: lambdas/api/dist/api.zip
    events:
      - http: 
          method: ANY 
          path: "/"
          cors: true
      - http:
          method: ANY
          path: "{proxy+}"
          cors: true
  ingest:
    description: stac-server Ingest Lambda
    handler: index.handler
    memorySize: 512
    timeout: 30
    package:
      artifact: lambdas/ingest/dist/ingest.zip
    events:
      - sqs:
          arn:
            Fn::GetAtt: [ingestQueue, Arn]
  failed-ingest:
    description: stac-server Failed Ingest Lambda
    handler: index.handler
    memorySize: 128
    timeout: 30
    package:
      artifact: lambdas/failed-ingest/dist/failed-ingest.zip
    events:
      - sqs:
          arn:
            Fn::GetAtt: [deadLetterQueue, Arn]

resources:
  Description: A STAC API running on stac-server
  Resources:
    ingestTopic:
      Type: 'AWS::SNS::Topic'
      Properties:
        TopicName: ${self:service}-${self:provider.stage}-ingest
    deadLetterQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-dead-letter-queue
    ingestQueue:
      Type: AWS::SQS::Queue
      Properties:
        DelaySeconds: 1
        VisibilityTimeout: 25
        ReceiveMessageWaitTimeSeconds: 5
        QueueName: ${self:service}-${self:provider.stage}-queue
        RedrivePolicy:
          deadLetterTargetArn: !GetAtt deadLetterQueue.Arn
          maxReceiveCount: 2
    ingestQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - !Ref ingestQueue
        PolicyDocument:
          Statement:
            - Sid: allow-sqs-sendmessage
              Effect: Allow
              Principal:
                AWS: "*"
              Action: SQS:SendMessage
              Resource: !GetAtt ingestQueue.Arn
              Condition:
                ArnEquals:
                  aws:SourceArn: !Ref ingestTopic
    ingestSubscription:
      Type: AWS::SNS::Subscription
      Properties:
        Endpoint: !GetAtt ingestQueue.Arn
        Protocol: sqs
        Region: "#{AWS::Region}"
        TopicArn: !Ref ingestTopic
    ElasticSearchInstance:
      Type: AWS::Elasticsearch::Domain
      Properties:
        DomainName: ${self:service}-${self:provider.stage}-es
        EBSOptions:
          EBSEnabled: true
          VolumeType: gp2
          VolumeSize: 35
        ElasticsearchClusterConfig:
          InstanceType: t3.small.elasticsearch
          InstanceCount: 3
          DedicatedMasterEnabled: false
          ZoneAwarenessEnabled: false
        ElasticsearchVersion: 7.9
        DomainEndpointOptions:
          EnforceHTTPS: true
  Outputs:
    ESEndpoint:
      Value:
        Fn::GetAtt: [ ElasticSearchInstance, DomainEndpoint ]
      Export:
        Name: ${self:service}-${self:provider.stage}-es-endpoint

plugins:
  - serverless-pseudo-parameters
