service: stac-server

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-west-2'}
  environment:
    STAC_ID: "earth-search"
    STAC_TITLE: "Earth Search"
    STAC_DESCRIPTION: "A STAC API of AWS Public Datasets powered by stac-server"
    STAC_VERSION: 1.0.0-b1
    STAC_API_VERSION: 0.9.0
    LOG_LEVEL: DEBUG
    ES_BATCH_SIZE: 500
    STAC_DOCS_URL: https://stac-utils.github.io/stac-server/
    ES_HOST:
      Fn::GetAtt: [ElasticSearchInstance, DomainEndpoint]
    ENABLE_TRANSACTIONS_EXTENSION: false
    PUBLISHED_TOPIC: arn:aws:sns:#{AWS::Region}:#{AWS::AccountId}:${self:service}-${self:provider.stage}-published
  iamRoleStatements:
    - Effect: "Allow"
      Resource: "arn:aws:es:#{AWS::Region}:#{AWS::AccountId}:domain/*"
      Action: "es:*"
    - Effect: "Allow"
      Action:
        - sqs:GetQueueUrl
        - sqs:SendMessage
        - sqs:ReceiveMessage
        - sqs:DeleteMessage
      Resource:
        Fn::GetAtt: [ingestQueue, Arn]

package:
  individually: true

functions:
  api:
    description: stac-server API Lambda
    handler: index.handler
    package:
      artifact: lambdas/api/dist/api.zip
    events:
      - http: ANY /
      - http: ANY {proxy+}
  ingest:
    description: stac-server Ingest Lambda
    handler: index.handler
    memorySize: 512
    timeout: 15
    package:
      artifact: lambdas/ingest/dist/ingest.zip
    events:
      - sqs:
          arn:
            Fn::GetAtt: [ingestQueue, Arn]
  failed-ingest:
    description: stac-server Failed Ingest Lambda
    handler: index.handler
    memorySize: 128
    timeout: 30
    package:
      artifact: lambdas/failed-ingest/dist/failed-ingest.zip
    events:
      - sqs:
          arn:
            Fn::GetAtt: [deadLetterQueue, Arn]
  subscribeToSns:
    description: stac-server SNS Subscription Lambda
    handler: index.handler
    memorySize: 128
    timeout: 15
    package:
      artifact: lambdas/subscribe-to-sns/dist/subscribe-to-sns.zip
    environment:
      queueName: ${self:service}-${self:provider.stage}-queue

resources:
  Description: A STAC API running on stac-server
  Resources:
    publishedTopic:
      Type: 'AWS::SNS::Topic'
      Properties:
        TopicName: ${self:service}-${self:provider.stage}-published
    publishedTopicPolicy:
      Type: AWS::SNS::TopicPolicy
      Properties:
        Topics: !Ref publishedTopic
        PolicyDocument:
          Statement:
            Action:
              - sns:Publish
              - sns:Receive
              - sns:ListSubscriptionsByTopic
            Principal:
              AWS: '*'
    ingestTopic:
      Type: 'AWS::SNS::Topic'
      Properties:
        TopicName: ${self:service}-${self:provider.stage}-ingest
    deadLetterQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:service}-${self:provider.stage}-dead-letter-queue
    ingestQueue:
      Type: AWS::SQS::Queue
      Properties:
        DelaySeconds: 1
        VisibilityTimeout: 25
        ReceiveMessageWaitTimeSeconds: 5
        QueueName: ${self:service}-${self:provider.stage}-queue
        RedrivePolicy:
          deadLetterTargetArn: !GetAtt deadLetterQueue.Arn
          maxReceiveCount: 2
    ingestQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - !Ref ingestQueue
        PolicyDocument:
          Statement:
            - Sid: allow-sqs-sendmessage
              Effect: Allow
              Principal:
                AWS: "*"
              Action: SQS:SendMessage
              Resource: !GetAtt ingestQueue.Arn
              Condition:
                ArnEquals:
                  aws:SourceArn: !Ref ingestTopic
    ingestSubscription:
      Type: AWS::SNS::Subscription
      Properties:
        Endpoint: !GetAtt ingestQueue.Arn
        Protocol: sqs
        Region: "#{AWS::Region}"
        TopicArn: !Ref ingestTopic
    ElasticSearchInstance:
      Type: AWS::Elasticsearch::Domain
      Properties:
        DomainName: ${self:service}-${self:provider.stage}-es
        EBSOptions:
          EBSEnabled: true
          VolumeType: gp2
          VolumeSize: 100
        ElasticsearchClusterConfig:
          InstanceType: r5.large.elasticsearch
          InstanceCount: 3
          DedicatedMasterEnabled: false
          ZoneAwarenessEnabled: false
        ElasticsearchVersion: 6.8
  Outputs:
    ESEndpoint:
      Value:
        Fn::GetAtt: [ ElasticSearchInstance, DomainEndpoint ]
      Export:
        Name: ${self:service}-${self:provider.stage}-es-endpoint

plugins:
  - serverless-pseudo-parameters
